# Dependencies
node_modules/
*/node_modules/

# Environment Variables
.env
.env.*
server/.env
client/.env
!.env.example
!server/.env.example
!client/.env.example

# Production Builds & Temp Cache
dist/
client/dist/
*.timestamp-*.mjs
*.timestamp-*.js

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS & Editor Files
.DS_Store
Thumbs.db
.idea/
.vscode/
